*.o
*.class
*.pyc
*.exe
*.dll
*.so
*.out
build/
dist/
node_modules/
__pycache__/
*.py[cod]
*$py.class
.env
Llama-2-7b-hf
chatglm-6b-int4
chatglm-6b
pretrained_model
saved_model
tmp/
runs/
.vscode/
.ipynb_checkpoints/

# data
*.o
*.class
*.pyc
*.exe
*.dll
*.so
*.out
build/
dist/
node_modules/
__pycache__/
*.py[cod]
*$py.class
.env
Llama-2-7b-hf
chatglm-6b-int4
chatglm-6b
pretrained_model
saved_model
tmp/
runs/
.vscode/
.ipynb_checkpoints/


# data

data/bace/
data/clintox/
data/freesolv/
data/sider/
doc/
result/